.shell {
  display: flex;
  min-height: 100vh;
  background-color: #1A232E;
  //color: #f9fafb;
}

.shell__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
}

.shell__content {
  flex: 1;
  margin: 0;
  padding: 0;
}
