.sidebar {
  width: 3.89rem;
  background-color: #1A232E;
  display: flex;
  flex-direction: column;
  //align-items: left;
  //padding: 0.75rem 0;
  //gap: 1rem;
}

.sidebar__logo {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  //background: linear-gradient(135deg, #22c55e, #0ea5e9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #f9fafb;
  font-size: 1rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
  flex: 1;  
}

.sidebar__item {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #1A232E;
  color: #9ca3af;
  font-size: 1.125rem;
  cursor: pointer;
  margin: 0;
}

.sidebar__item--active {
  background-color: #1A232E;
  color: #f9fafb;
}

.sidebar__user {
  margin-top: auto;
}
.sidebar__item--user {
  padding: 0;
  border-radius: 0.75rem;
}

.sidebar__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 999rem;
  background: url('/assets/images/avatar-placeholder.png') center/cover,
    #1f2937;
}

