.sidebar {
  width: 3.75rem;
  background-color: #020617;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0;
  gap: 1rem;
}

.sidebar__logo {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  //background: linear-gradient(135deg, #22c55e, #0ea5e9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #f9fafb;
  font-size: 1rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  flex: 1;
}

.sidebar__item {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #020617;
  color: #9ca3af;
  font-size: 1.125rem;
  cursor: pointer;
}

.sidebar__item--active {
  background-color: #0f172a;
  color: #f9fafb;
}

.sidebar__user {
  padding-bottom: 0.5rem;
}

.sidebar__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 999rem;
  background: url('/assets/images/avatar-placeholder.png') center/cover,
    #1f2937;
}
