
<article class="status-card" [class.cleaned]="room.status === 'cleaned'"
         [class.dirty]="room.status === 'dirty'"
         [class.inspect]="room.status === 'inspect'"
         [class.out-of-service]="room.status === 'outOfService'">
         
<header class="status-card__header">
  <div class="status-card__primary">
  <div class="status-card__number">{{ room.number }}</div>
  <div class="status-card__type">{{ room.type }}</div>
  </div>

      <div class="status-card__icons-top">
      <!-- replace with <img> or icon fonts from /assets/icons -->
      <img src="/header/1.png" alt="" height="0.9375rem" width="0.9375rem" />
      <img src="/header/2.png" alt="" height="0.9375rem" width="0.9375rem"/>
      <img src="/header/3.png" alt="" height="0.9375rem" width="0.9375rem"/>
    </div>
</header>

  <footer class="status-card__footer">
    <div class="status-card__icons-bottom">
      <!-- replace with <img> or icon fonts from /assets/icons -->
      <img src="/header/4.png" alt="" height="15px" width="15px" />
      <img src="/header/5.png" alt="" height="15px" width="15px"/>
      <img src="/header/DND.png" alt="" height="12px" width="18px"/>
    </div> 
  </footer>
</article>
