$outer-bg: #111827;

.kpi-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.7rem 1.25rem 0.7rem ;
  border-radius: 0.7rem;
  background: $outer-bg;
  box-shadow: 0 0.08rem 0.25rem rgba(0, 0, 0, 0.55);
  min-height: 5rem; /* same height for all KPI cards */
}

.kpi-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kpi-card__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.kpi-card__label {
  padding-bottom: 0.8rem;
  font-size: 0.78rem;
  opacity: 0.8;
}


.kpi-card__value {
  font-size: 1.2rem;
  font-weight: 600;
}

.kpi-card__sub {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  opacity: 0.8;
  //padding-right: 0.5rem;   /* <-- add this line (try 0.5–0.75rem) */
  
}

/* donut that we pass from Occupancy card */
.kpi-card__donut {
  width: 2.5rem;
  height: 2.5rem;
}
[kpi-icon] {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  object-fit: contain;
}

.kpi-card__footer {
  display: flex;
  align-items: center;
  gap: 0.35rem;
    //padding-right: 0.5rem;  /* move footer content a bit left */

}

.kpi-card__pill {
  padding: 0.1rem 0.5rem;
  border-radius: 999rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: #f9fafb;
}

.kpi-card__pill--positive {
  //background-color: #22c55e; /* green */
  color: #22c55e;
}

.kpi-card__pill--negative {
 // background-color: #ef4444; /* red */
  color: #ef4444;
}

.kpi-card__footer-text {
  font-size: 0.7rem;
  opacity: 0.7;
  
}


