<section class="floor">
  <header class="floor__header">
  <div class="floor__title">
    <span class="floor__arrow"><img src="/header/downarrow.png"></span>
    <span class="floor__label">FLOOR:</span>
    <span class="floor__name">{{ floor.name }}</span>
   
  </div>

  <div class="floor__summary">
    <div class="floor__summary-top">
      {{ floor.totalRooms }} Rooms
    </div>
    <div class="floor__summary-bottom">
      {{ floor.cleaned }} Cleaned,
      {{ floor.dirty }} Dirty,
      {{ floor.inspect }} Inspect
    </div>
  </div>
</header>


  <div class="floor__row">
    
    @for (row of floor.rooms; track $index) {
      @for (room of row; track room.id) {
        <app-room-card [room]="room"></app-room-card>
        
      }
    }
  </div>


   <header class="floor__header">
  <div class="floor__title">
    <span class="floor__arrow"><img src="/header/downarrow.png"></span>
    <span class="floor__label">FLOOR:</span>
    <span class="floor__name">{{ floor.name }}</span>
   
  </div>

  <div class="floor__summary">
    <div class="floor__summary-top">
      {{ floor.totalRooms }} Rooms
    </div>
    <div class="floor__summary-bottom">
      {{ floor.cleaned }} Cleaned,
      {{ floor.dirty }} Dirty,
      {{ floor.inspect }} Inspect
    </div>
  </div>
</header>


  <div class="floor__row">
    @for (row of floor.rooms; track $index) {
      @for (room of row; track room.id) {
        <app-room-card [room]="room"></app-room-card>
      }
    }
  </div>

  
  
</section>
