<div class="topbar-wrapper">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <button class="breadcrumb-back-btn">
      <img src="/header/arrow-left.png" alt="aura logo" height="24" width="24" />
    </button>

    <span class="breadcrumb-text">
      <img src="/header/Title.png" alt="aura logo" height="20" width="512" />
    </span>
  </div>

  <!-- Right Actions -->
  <div class="actions">
    <!-- Aura -->
    <!--<button class="aura-btn">-->
      <img src="/header/aura-logo.png" alt="aura logo" height="28" width="82" />
    <!--</button>-->

    <!-- Chat -->
    <!--<button class="chat-btn">-->
 
      <div class="chat-btn">
      <img src="/header/msg.png" alt="chat" height="24" width="24" />
      <span class="chat-label">Chat</span>
      </div>
    <!--</button>-->

    <!-- Notifications -->
    <!--<button class="icon-btn">-->
      <img src="/header/icon.png" alt="notifications" height="24" width="24" />
    <!--</button>-->

    <!-- More/Menu -->
    <!--<button class="icon-btn">-->
      <img
        src="/header/lasticon.png"
        alt="menu"
        height="24"
        width="24"
        class="lastt"
      />
    <!--</button>-->
  </div>
</div>

<!-- PAGE HEADER SECTION -->
<div class="page-header">
  <!-- title + tabs -->
  <div class="page-header__top">
    <h1 class="page-title">Property Overview</h1>
  </div>
  

  <!-- filters row -->
  <div class="header-controls">
    <!-- Search -->
     <div class="view-tabs">
      <button class="tab-btn">Overview</button>
      <button class="tab-btn active">Chart View</button>
    </div>
    <div class="search-bar">
      <img src="/header/search.png"> 
      <input type="text" placeholder="Search" />
    </div>

    <!-- Date: trigger image + Material datepicker -->
    <div class="date-wrapper">
  <button class="date-pill" type="button" (click)="picker.open()">
    {{ selectedDateLabel }}
  </button>

  <mat-form-field class="date-field" appearance="fill">
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="selectedDate"
      (dateChange)="onDateChange($event.value)"
      hidden
    />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>


    <!-- Filter image -->
    <img
      src="/header/filter.png"
      alt="filter"
      height="31"
      width="90"
      class="lastt"
    />

    <!-- Auto Assign -->
    
      <img
      src="/header/autoassign.png"
      alt="filter"
      height="32"
      width="143"
      class="lastt"
    />
  </div>
</div>
