<div class="topbar-wrapper">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <button class="breadcrumb-back-btn">
      <svg viewBox="0 0 24 24">
        <path d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <span class="breadcrumb-text">
      Unicorn Groups / Radiant Retreat / Task Management
    </span>
  </div>

  <!-- Right Actions -->
  <div class="actions">
    <!-- Aura -->
    <!--<button class="aura-btn">-->
      <img src="/header/aura-logo.png" alt="aura logo" height="28" width="82" />
    <!--</button>-->

    <!-- Chat -->
    <!--<button class="chat-btn">-->
 
      <img src="/header/msg.png" alt="chat" height="24" width="24" class="chat-btn"  />
      <span class="chat-label">Chat</span>
    <!--</button>-->

    <!-- Notifications -->
    <!--<button class="icon-btn">-->
      <img src="/header/icon.png" alt="notifications" height="24" width="24" />
    <!--</button>-->

    <!-- More/Menu -->
    <!--<button class="icon-btn">-->
      <img
        src="/header/lasticon.png"
        alt="menu"
        height="24"
        width="24"
        class="last"
      />
    <!--</button>-->
  </div>
</div>

<!-- PAGE HEADER SECTION -->
<div class="page-header">
  <!-- title + tabs -->
  <div class="page-header__top">
    <h1 class="page-title">Property Overview</h1>
  </div>
  

  <!-- filters row -->
  <div class="header-controls">
    <!-- Search -->
     <div class="view-tabs">
      <button class="tab-btn">Overview</button>
      <button class="tab-btn active">Chart View</button>
    </div>
    <div class="search-bar">
      <svg viewBox="0 0 24 24">
        <path
          d="M21 21l-6-6m2-5a7 7 0 11-14 
             0 7 7 0 0114 0z"
        ></path>
      </svg>
      <input type="text" placeholder="Search" />
    </div>

    <!-- Date: trigger image + Material datepicker -->
    <div class="date-wrapper">
  <button class="date-pill" type="button" (click)="picker.open()">
    {{ selectedDateLabel }}
  </button>

  <mat-form-field class="date-field" appearance="fill">
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="selectedDate"
      (dateChange)="onDateChange($event.value)"
      hidden
    />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>


    <!-- Filter image -->
    <img
      src="/header/filter.png"
      alt="filter"
      height="31"
      width="90"
      class="last"
    />

    <!-- Auto Assign -->
    
      <img
      src="/header/autoassign.png"
      alt="filter"
      height="32"
      width="95"
      class="last"
    />
  </div>
</div>
