<div class="topbar-wrapper">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <button class="breadcrumb-back-btn">
      <svg viewBox="0 0 24 24">
        <path d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <span class="breadcrumb-text">
      Unicorn Groups / Radiant Retreat / Task Management
    </span>
  </div>

  <!-- Right Actions -->
  <div class="actions">
    <!-- Aura -->
    <button class="aura-btn">
      <img src="/header/aura-logo.png" alt="aura logo" height="28px" width="82px">
    </button>

    <!-- Chat w/ badge -->
    <button class="chat-btn">
      <img src="/header/msg.png" alt="aura logo" height="24px" width="24px">
      <span class="chat-label">Chat</span>
      
    </button>

    <!-- Notifications -->
    <button class="icon-btn">
      <img src="/header/icon.png" alt="aura logo" height="24px" width="24px">
    </button>

    <!-- More/Menu -->
    <button class="icon-btn">
       <img src="/header/lasticon.png" alt="aura logo" height="24px" width="24px" class="last">
    </button>
  </div>
</div>

<!-- PAGE HEADER SECTION -->
 
<div class="page-header">
  
<h1 class="page-title">Property Overview</h1>
  <div class="header-controls">
    
    <!-- Tabs -->
    <div class="view-tabs">
      <button class="tab-btn">Overview</button>
      <button class="tab-btn active">Chart View</button>
    </div>

    <!-- Search -->
    <div class="search-bar">
      <svg viewBox="0 0 24 24">
        <path
          d="M21 21l-6-6m2-5a7 7 0 11-14 
                0 7 7 0 0114 0z"
        ></path>
      </svg>
      <input type="text" placeholder="Search" />
    </div>

    <!-- Date -->
     
     
      <img src="/header/date.png" alt="aura logo" height="31px" width="98px" class="last" class="date-input">


    <!-- Filter -->
     
    <img src="/header/filter.png" alt="aura logo" height="31px" width="90px" class="last" class="select-input">
   

    <!-- Auto Assign -->
    <button class="auto-assign-btn">
      <span>Auto Assign</span>
      <svg viewBox="0 0 20 20">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 
                1.902 0l1.07 3.292a1 1 0 
                00.95.69h3.462c.969 0 
                1.371 1.24.588 1.81l-2.8 
                2.034a1 1 0 00-.364 
                1.118l1.07 3.292c.3.921-.755 
                1.688-1.54 1.118l-2.8-2.034a1 
                1 0 00-1.175 0l-2.8 
                2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 
                1 0 00-.364-1.118L2.98 
                8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 
                1 0 00.951-.69l1.07-3.292z"
        ></path>
      </svg>
    </button>
  </div>
</div>
